.btn{
    padding: 25px;
    margin: 20px;
}

nav{
    background-color: aquamarine;
    text-align: center;
    padding: 15px;
    margin: 200px;
    border-radius: 23px;
}

body{
    background-color: grey;
}